<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/about">About</a>
      <a href="{{ site.baseurl }}/projects/">Projects</a>
      <a href="{{ site.baseurl }}/CV/">CV</a>
      <a href="{{ site.baseurl }}/contact/">Contact</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
        {% include footer.html %}
    </footer>
  </body>
</html>
