<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural 1 | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>
  </header>
  {{ .Content }}
  <ul>
    {{ range .Paginator.Pages }}
    <li style="flex-wrap: wrap; margin: 2%">
      <div style="flex-basis: 20%">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</div>
      <div style="flex-basis: 20%"><a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a></div>
      <div style="flex-basis: 100%">{{ .Description }}</div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
